<!DOCTYPE html>
<html>

<head>
    <style>
        body {
            background-color: #e1f1f7;
        }
    </style>
    <meta charset="UTF-8">
    <title>Select a client</title>
</head>

<body>
{{> common/_navigation }}
    <h1>Select a Client</h1>
    <form action="/invoices/new" method="post">
	<select name="clientId" required>
		<option value="">Select a client...</option>
		{{#companies}}
		<option value="{{ id }}">{{ name }}</option>
		{{/companies}}
	</select> 
	<button>Choose some billing records...</button>
	<input type="hidden" name="{{_csrf.parameterName}}" value="{{_csrf.token}}">
	</form>
</body>

</html>