<!DOCTYPE html>
<html>

<head>
    <style>
        body {
            background-color: #f3f7e8;
        }
    </style>
    <meta charset="UTF-8">
    <title>Choose Some Billing Records </title>
</head>

<body>

    <h1>Choose Some Billing Records</h1>
    <form action="/invoices/create" method="post">
        <input type="text" name="invoiceNumber" required placeholder="Invoice number (NaN)">

        <table>
            <thead>
                <tr>
                	<th></th>
                    <th>Created on</th>
                    <th>Created by</th>
                    <th>Description</th>
                    <th>Client</th>
                    <th>Fee</th>
                    <th>Rate</th>
                    <th>Quantity</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {{#records}}
                <tr>
                	<td>
                		<input type="checkbox" value="{{ id }}" name="recordIds">
                	</td>
                    <td>{{ createdOn }}</td>
                    <td>{{ createdBy.username }}</td>
                    <td>{{ description }}</td>
                    <td>{{ client.name }}</td>
                    <td>${{#amount}}{{ amount }}{{/amount}}</td>
                    <td>${{#rate}}{{ rate }}{{/rate}}</td>
                    <td>{{#quantity}}{{ quantity }}{{/quantity}}</td>
                    <td>${{ total }}</td>
                </tr>
                {{/records}}
            </tbody>
        </table>

        <button>Create the invoice!</button>
        <input type="hidden" name="{{_csrf.parameterName}}" value="{{_csrf.token}}">
        <input type="hidden" name="clientId" value="{{clientId}}">

    </form>
</body>

</html>