<!DOCTYPE html>
<html>
<head>
<style>
body {
background-color: #e6f2ed;
}
</style>
<meta charset="UTF-8">
<title>Billing Records</title>
</head>
<body>
{{> common/_navigation }}
<h1>Billing Records</h1>

<form action="/billing-records/flat-fees" method="post">
	<h2>Make a flat-fee billing record</h2>
	<input type="number" step=".01" name="amount" required placeholder="amount">
	<select name="clientId" required>
		<option value="">Choose one...</option>
		{{#companies}}
		<option value="{{ id }}">{{ name }}</option>
		{{/companies}}
	</select> 
	<input type="type" name="description" required placeholder="description">
	<input type="hidden" name="{{_csrf.parameterName}}" value="{{_csrf.token}}">
	<button>Create me!</button>
</form>
<form action="/billing-records/rate-based" method="post">
	<h2>Make a rate-based billing record</h2>
	<input type="number" step=".01" name="rate" required placeholder="rate">
	<input type="number" step=".01" name="quantity" required placeholder="quantity">
	<select name="clientId" required>
		<option value="">Choose one...</option>
		{{#companies}}
		<option value="{{ id }}">{{ name }}</option>
		{{/companies}}
	</select> 
	<input type="type" name="description" required placeholder="description">
	<input type="hidden" name="{{_csrf.parameterName}}" value="{{_csrf.token}}">
	<button>Create me!</button>
</form>


<table>
  <thead>
    <tr>
      <th>Created on</th>
      <th>Created by</th>
      <th>Description</th>
      <th>Client</th>
      <th>Fee</th>
      <th>Rate</th>
      <th>Quantity</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    {{#records}}
      <tr>
        <td>{{ createdOn }}</td>
        <td>{{ createdBy.username }}</td>
        <td>{{ description }}</td>
        <td>{{ client.name }}</td>
        <td>${{#amount}}{{ amount }}{{/amount}}</td>
        <td>${{#rate}}{{ rate }}{{/rate}}</td>
        <td>{{#quantity}}{{ quantity }}{{/quantity}}</td>
        <td>${{ total }}</td>
       </tr>
    {{/records}}
  </tbody>  
</table>
</body>
</html>